<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />

    <!-- <link rel="stylesheet" href="../../../style.css" /> -->

    <title>Add User | E-Arsip</title>
  </head>
  <body>
    <main class="flex h-screen justify-center items-center">
      <form action="">
        <div class="bg-blue-500 w-80 p-7 shadow-md shadow-gray-300 rounded-md">
          <!--  -->
          <div class="flex justify-center items-center gap-3 py-3 pb-5">
            <h2 class="text-gray-800 text-xl font-semibold inline-block">Tambah Admin Baru</h2>
          </div>
          <!--  -->

          <label class="text-gray-700" for="Nama">Nama</label>
          <input class="w-full p-2 bg-gray-100 text-gray-700 rounded-md outline-gray-700 mb-4" type="text" placeholder="Masukan Nama" id="Nama" />

          <label class="text-gray-700">Jabatan</label>
          <div class="pl-8 bg-gray-100 text-gray-700 rounded-md outline-gray-700 mb-4">
            <div>
              <input class="" name="jabatan" type="radio" id="kepalaDesa" />
              <label class="text-gray-700" for="kepalaDesa">Kepala Desa</label>
            </div>
            <div>
              <input class="" name="jabatan" type="radio" id="Sekertaris" />
              <label class="text-gray-700" for="Sekertaris">Sekertaris Desa</label>
            </div>
            <div>
              <input class="" name="jabatan" type="radio" id="Kaur" />
              <label class="text-gray-700" for="Kaur">Kaur</label>
            </div>
            <div>
              <input class="" name="jabatan" type="radio" id="Admin" />
              <label class="text-gray-700" for="Admin">Admin</label>
            </div>
          </div>
          <!-- w-full p-2 bg-gray-100 text-gray-700 rounded-md outline-gray-700 mb-4 -->
          <label class="text-gray-700" for="email">Email</label>
          <input class="w-full p-2 bg-gray-100 text-gray-700 rounded-md outline-gray-700 mb-4" type="text" placeholder="Masukan Email" id="email" />

          <label class="text-gray-700" for="Password">Password</label>
          <input class="w-full p-2 bg-gray-100 text-gray-700 rounded-md outline-gray-700 mb-5" type="text" placeholder="Masukan Password" id="Password" />

          <a href="users.html" class="flex justify-center bg-red-600 hover:bg-red-700 text-white rounded-md">
            <div class="flex gap-1 py-3">
              <span>Add User</span>
            </div>
          </a>
        </div>
      </form>
    </main>
  </body>
</html>
