<DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="../../css/style.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

      <!-- <link rel="stylesheet" href="../../../../style.css" /> -->
      <!-- <link rel="stylesheet" href="../../fontawesome-free-6.2.1-web/css/all.min.css" /> -->

      <style>
        .material-symbols-outlined {
          font-variation-settings: "FILL" 0, "wght" 00, "GRAD" 0, "opsz" 48;
        }
      </style>

      <title>Categories | E-Arsip</title>
    </head>
    <body>
      <header class="flex fixed w-full justify-between bg-white shadow-md shadow-gray-300 rounded-md mb-5 p-4 sm:block sm:w-64 sm:h-full">
        <!-- 1 -->
        <h2 class="text-gray-800 font-bold mb-3 pl-3 text-xl">E-Arsip Pekon Sumberrejo</h2>

        <!-- 2 -->
        <nav class="fixed hidden top-14 left-0 w-full sm:block sm:static" id="navbar">
          <!-- <nav class="fixed hidden top-0 left-0 sm:block sm:w-1/4"> -->
          <div class="bg-white shadow-md shadow-gray-300 rounded-md mb-5 p-4">
            <div class="py-2">
              <a href="../dashboard.html" class="flex gap-1 py-1 my-2 -mx-2 px-2 rounded-md transition-all hover:mx-1 hover:px-1 hover:bg-blue-500 hover:bg-opacity-60 hover:scale-110 hover:shadow-md shadow-gray-200">
                <i class="fa-solid fa-house fa-2x"></i>
                <span>Home</span>
              </a>

              <a href="../arsip.html" class="flex gap-1 py-1 my-2 -mx-2 px-2 rounded-md transition-all hover:mx-1 hover:px-1 hover:bg-blue-500 hover:bg-opacity-60 hover:scale-110 hover:shadow-md shadow-gray-200">
                <i class="fa-solid fa-floppy-disk fa-2x"></i>
                <span>Arsip</span>
              </a>

              <a href="../users.html" class="flex gap-1 py-1 my-2 -mx-2 px-2 rounded-md transition-all hover:mx-1 hover:px-1 hover:bg-blue-500 hover:bg-opacity-60 hover:scale-110 hover:shadow-md shadow-gray-200">
                <i class="fa-solid fa-user fa-2x"></i>
                <span>Users</span>
              </a>

              <a href="#" class="flex gap-1 py-3 bg-socialBlue text-white -mx-5 px-5 rounded-md shadow-md shadow-gray-300">
                <i class="fa-solid fa-folder fa-2x"></i>
                <span>Categories</span>
              </a>
              <!--  -->

              <!--  -->

              <a href="../../index.html" class="flex gap-1 py-1 my-2 -mx-2 px-2 rounded-md transition-all hover:mx-1 hover:px-1 hover:bg-blue-500 hover:bg-opacity-60 hover:scale-110 hover:shadow-md shadow-gray-200">
                <i class="fa-solid fa-right-from-bracket fa-2x"></i>
                <span>Logout</span>
              </a>
            </div>
          </div>
        </nav>

        <!-- 3 -->
        <div class="flex items-center mb-3 px-4 w-14 sm:hidden">
          <button id="hamburger" name="hamburger" type="button" class="block absolute">
            <span class="w-[30px] h-[2px] my-2 block bg-gray-800"></span>
            <span class="w-[30px] h-[2px] my-2 block bg-gray-800"></span>
            <span class="w-[30px] h-[2px] my-2 block bg-gray-800"></span>
          </button>
        </div>
      </header>
      <!-- contain -->
      <div class="pt-16 sm:w-full sm:pt-0">
        <div class="flex pt-5 mx-auto justify-center px-5 gap-4 sm:pl-[276px] sm:w-full">
          <div class="p-4 w-full bg-white shadow-md shadow-gray-300 rounded-md mb-5">
            <h1 class="font-medium mb-4 text-3xl">Categories</h1>
            <div class="grid gap-4 sm:grid-cols-3">
              <!--  -->
              <a href="index.html#arsipPekon" class="h-48 shadow-md bg-gray-600 shadow-gray-300 rounded-lg mb-2 p-4 border-gray-800 border-2">
                <h2 class="font-bold text-2xl text-white mb-5">Arsip Pekon</h2>
                <div class="flex justify-between items-end">
                  <i class="fa-regular fa-file fa-6x text-white"></i>
                  <h1 class="text-white text-6xl font-extrabold">92</h1>
                </div>
              </a>
              <!--  -->
              <!--  -->
              <a href="#suratMasuk" class="h-48 shadow-md bg-socialBlue/80 shadow-gray-300 rounded-lg mb-2 p-4 border-socialBlue border-2">
                <h2 class="font-bold text-2xl text-white mb-5">Surat Masuk</h2>
                <div class="flex justify-between items-end">
                  <i class="fa-regular fa-user fa-6x text-white"></i>
                  <h1 class="text-white text-6xl font-extrabold">47</h1>
                </div>
              </a>
              <!--  -->
              <!--  -->
              <a href="suratKeluar.html#suratKeluar" class="h-48 shadow-md bg-red-500 shadow-gray-300 rounded-lg mb-2 p-4 border-red-800 border-2">
                <h2 class="font-bold text-2xl text-white mb-5">Surat Keluar</h2>
                <div class="flex justify-between items-end">
                  <i class="fa-regular fa-floppy-disk fa-6x text-white"></i>
                  <h1 class="text-white text-6xl font-extrabold">66</h1>
                </div>
              </a>
              <!--  -->
              <div class="rounded-lg mb-2 p-4 border-red-500 border-2">
                <h4>No Surat Terakhir</h4>
                <h3 class="text-2xl font-semib">10-3-2023</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- List Arsip -->
        <div id="suratMasuk" class="pt-16 sm:w-full sm:pt-0">
          <div class="pt-5 sm:pl-[276px] p-5">
            <div class="bg-white rounded-lg shadow-md p-4 mt-4">
              <div class="overflow-x-scroll">
                <h2 class="font-semibold">Surat Masuk</h2>
                <table class="table-auto">
                  <thead>
                    <tr>
                      <th class="px-4 py-2">Title</th>
                      <th class="px-4 py-2">Category</th>
                      <th class="px-4 py-2">Number</th>
                      <th class="px-4 py-2">Perihal</th>
                      <th class="px-4 py-2">Uploaded by</th>
                      <th class="px-4 py-2">Uploaded on</th>
                      <th class="px-4 py-2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-gray-100">
                      <td class="px-4 py-2">Surat 1</td>
                      <td class="px-4 py-2">Surat Masuk</td>
                      <td class="px-4 py-2">1</td>
                      <td class="px-4 py-2">perihal</td>
                      <td class="px-4 py-2">admin 1</td>
                      <td class="px-4 py-2">Jan 1, 2020</td>
                      <td class="px-4 py-2">
                        <a href="#" class="px-2 py-1 text-lg text-blue-500">View</a>
                        <a href="#" class="px-2 py-1 text-lg text-green-500">Download</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-4 py-2">Surat 2</td>
                      <td class="px-4 py-2">Surat Masuk</td>
                      <td class="px-4 py-2">1</td>
                      <td class="px-4 py-2">perihal</td>
                      <td class="px-4 py-2">admin 1</td>
                      <td class="px-4 py-2">Feb 15, 2020</td>
                      <td class="px-4 py-2">
                        <a href="#" class="px-2 py-1 text-lg text-blue-500">View</a>
                        <a href="#" class="px-2 py-1 text-lg text-green-500">Download</a>
                      </td>
                    </tr>

                    <tr class="bg-gray-100">
                      <td class="px-4 py-2">Surat 1</td>
                      <td class="px-4 py-2">Surat Masuk</td>
                      <td class="px-4 py-2">1</td>
                      <td class="px-4 py-2">perihal</td>
                      <td class="px-4 py-2">admin 1</td>
                      <td class="px-4 py-2">Jan 1, 2020</td>
                      <td class="px-4 py-2">
                        <a href="#" class="px-2 py-1 text-lg text-blue-500">View</a>
                        <a href="#" class="px-2 py-1 text-lg text-green-500">Download</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-4 py-2">Surat 2</td>
                      <td class="px-4 py-2">Surat Masuk</td>
                      <td class="px-4 py-2">1</td>
                      <td class="px-4 py-2">perihal</td>
                      <td class="px-4 py-2">admin 1</td>
                      <td class="px-4 py-2">Feb 15, 2020</td>
                      <td class="px-4 py-2">
                        <a href="#" class="px-2 py-1 text-lg text-blue-500">View</a>
                        <a href="#" class="px-2 py-1 text-lg text-green-500">Download</a>
                      </td>
                    </tr>

                    <tr class="bg-gray-100">
                      <td class="px-4 py-2">Surat 1</td>
                      <td class="px-4 py-2">Surat Masuk</td>
                      <td class="px-4 py-2">1</td>
                      <td class="px-4 py-2">perihal</td>
                      <td class="px-4 py-2">admin 1</td>
                      <td class="px-4 py-2">Jan 1, 2020</td>
                      <td class="px-4 py-2">
                        <a href="#" class="px-2 py-1 text-lg text-blue-500">View</a>
                        <a href="#" class="px-2 py-1 text-lg text-green-500">Download</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-4 py-2">Surat 2</td>
                      <td class="px-4 py-2">Surat Masuk</td>
                      <td class="px-4 py-2">1</td>
                      <td class="px-4 py-2">perihal</td>
                      <td class="px-4 py-2">admin 1</td>
                      <td class="px-4 py-2">Feb 15, 2020</td>
                      <td class="px-4 py-2">
                        <a href="#" class="px-2 py-1 text-lg text-blue-500">View</a>
                        <a href="#" class="px-2 py-1 text-lg text-green-500">Download</a>
                      </td>
                    </tr>
                    <tr class="bg-gray-100">
                      <td class="px-4 py-2">Surat 3</td>
                      <td class="px-4 py-2">Surat Masuk</td>
                      <td class="px-4 py-2">1</td>
                      <td class="px-4 py-2">perihal</td>
                      <td class="px-4 py-2">Admin 2</td>
                      <td class="px-4 py-2">Mar 30, 2020</td>
                      <td class="px-4 py-2">
                        <a href="#" class="px-2 py-1 text-lg text-blue-500">View</a>
                        <a href="#" class="px-2 py-1 text-lg text-green-500">Download</a>
                      </td>
                    </tr>
                    <tr class="bg-gray-100">
                      <td class="px-4 py-2">Surat 3</td>
                      <td class="px-4 py-2">Surat Masuk</td>
                      <td class="px-4 py-2">1</td>
                      <td class="px-4 py-2">perihal</td>
                      <td class="px-4 py-2">Admin 2</td>
                      <td class="px-4 py-2">Mar 30, 2020</td>
                      <td class="px-4 py-2">
                        <a href="#" class="px-2 py-1 text-lg text-blue-500">View</a>
                        <a href="#" class="px-2 py-1 text-lg text-green-500">Download</a>
                      </td>
                    </tr>
                    <tr class="bg-gray-100">
                      <td class="px-4 py-2">Surat 3</td>
                      <td class="px-4 py-2">Surat Masuk</td>
                      <td class="px-4 py-2">1</td>
                      <td class="px-4 py-2">perihal</td>
                      <td class="px-4 py-2">Admin 2</td>
                      <td class="px-4 py-2">Mar 30, 2020</td>
                      <td class="px-4 py-2">
                        <a href="#" class="px-2 py-1 text-lg text-blue-500">View</a>
                        <a href="#" class="px-2 py-1 text-lg text-green-500">Download</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- List Arsip end -->
      </div>

      <!-- contain End -->
      <script src="../../js/script.js"></script>

    </body>
  </html>
</DOCTYPE>
