<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../css/style.css" />

        <!-- <link rel="stylesheet" href="../../../../style.css" /> -->

        <title>Tambah Surat Masuk | E-Arsip</title>
      </head>
      <body>
        <main class="flex h-screen justify-center items-center">
          <form action="">
            <div class="bg-blue-500 w-80 p-7 shadow-md shadow-gray-300 rounded-md">
              <!--  -->
              <div class="flex justify-center items-center gap-3 py-3 pb-5">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"
                  />
                </svg>
                <h2 class="text-gray-800 text-xl font-bold inline-block">Tambah Surat Masuk</h2>
              </div>
              <!--  -->
              <!-- Title	Category	Number	Perihal	Uploaded by	 -->
              <div>
                <label class="text-gray-700" for="Judul">Judul</label>
                <input class="w-full p-[6px] bg-gray-100 text-gray-700 rounded-md outline-gray-700 mb-3" type="text" placeholder="Masukan Judul" id="Judul" />
              </div>
              <div>
                <label class="text-gray-700" for="Nomor">Nomor</label>
                <input class="w-full p-[6px] bg-gray-100 text-gray-700 rounded-md outline-gray-700 mb-3" type="number" placeholder="Masukan Nomor" id="Judul" />
              </div>
              <div>
                <label class="text-gray-700" for="Asal Surat">Asal Surat</label>
                <input class="w-full p-[6px] bg-gray-100 text-gray-700 rounded-md outline-gray-700 mb-3" type="text" placeholder="Masukan Asal Surat" id="Judul" />
              </div>

              <div>
                <label class="text-gray-700" for="date">tanggal</label>
                <input type="date" id="date" name="date" required class="w-full p-[6px] bg-gray-100 text-gray-700 rounded-md outline-gray-700 mb-3" />
              </div>
              <div>
                <label class="text-gray-700" for="Keterangan">Keterangan</label>
                <input class="w-full p-[6px] bg-gray-100 text-gray-700 rounded-md outline-gray-700 mb-3" type="text" placeholder="Masukan Keterangan" id="Judul" />
              </div>
              <button class="w-1/3 bg-gray-100 rounded-md mb-3">
                <h1 class="text-gray-700 p-[6px] text-sm">Upload File</h1>
              </button>
              <a href="suratMasuk.html" class="flex justify-center bg-red-600 hover:bg-red-700 text-white rounded-md">
                <div class="flex gap-1 py-3">
                  <span>Tambah Surat Masuk</span>
                </div>
              </a>
            </div>
          </form>
        </main>
      </body>
    </html>
  </head>
</html>
